body{
	overflow-x: hidden;
	font-family: sans-serif;
}

.home_section{
	/*width: auto;*/
	height: 100%;
}

.navbar-nav{
	float: right;
	text-align: right;
	padding-right: 4%;
}

.navbar-brand{
	padding: 10px;
	font-size: 24px;
	font-family: monospace;
}
.nav-link:hover{
	color: black;
}


/*#particles-js{
	height: 100%;
	background-image: url(resource/images/front_page.png);
}*/